.l-container{
    width: 945px;
    margin: 0 auto;
    position: relative;
    z-index: 3;
    @media screen and (max-width: 1000px) {
        width: 96%;
    }
}

.l-container-title{
    width: 85%;
    margin: 0 auto;
    @media screen and (max-width: 940px) {
        width: 95%;
    }
}

.l-section{
    padding: 70px 0;
}

.l-bg-color{
    width: 100%;
    background-color: $bg-color-image;
    height: 100%;
}