// bg-color
$bg-white : #ffffff;
$bg-color-header : rgba(53, 74, 95, 0.658);
$bg-color-image  : rgba(19, 19, 19, 0.712);

// bg-button
$bg-color-button : #f39c12;

//color font
$color-inherit : inherit;
$color-white   : #ffffff;
$color-font    : #4c4c4c;
$color-black   : #000000;
$color-text    : #4d4d4d;
$color-red     : #e74c3c;
$color-hr      : #e6e6e6;
$color-bar     : #e6e6e6;
$color-green   : #0acd97;


// font 
$font-opensans : 'Open Sans', sans-serif; 