.swiper-container {
    .swiper-pagination{
        position: absolute  !important;
        bottom: 13% !important;
        z-index: 1;
        // color: #fff !important;
        span {
            font-size: 50px !important;
            width: 10px !important;
            height: 10px !important;
            background-color: #ffffff !important;
            margin: 0 2px !important;
            // color: #fff !important;
        }
    }
}

.lastSlider {
    .btn__next{
        display: none !important;
    }
    .btn__prev{
        display: none !important;
    }
}