.section-about{
    position: relative;
    z-index: 2;
    @include polygon;

    .article-story{
        margin: 80px 0;
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 740px) {
           flex-direction: column;
        }
        @media screen and (max-width: 450px) {
            margin: 80px 0;
        }
        .article-story-primary{
            width: 56%;
            @media screen and (max-width: 740px) {
                width: 100%;
                margin-bottom: 25px;
             }
            .circle{
                float: left;
                @include circle($bg-color-button, $color-inherit, 48px, 40px);
                @media screen and (max-width: 1105px) {
                    @include circle($color-green, $color-inherit, 45px, 35px);
                }
                @media screen and (max-width: 450px) {
                    float: none;
                    width: 22%;
                    margin: 0 auto;
                }
            }
            .arricle-story-text{
                margin-left: 120px;
                margin-top: -25px;
                @media screen and (max-width: 985px) {
                    margin-left: 110px;
                }
                @media screen and (max-width: 450px) {
                    margin-left: 0px;
                    text-align: center;
                    margin-top: 25px;
                }
                h3{
                    font-size: 20px;
                    font-weight: 700;
                }
                p{
                    margin: 13px 0;
                    color: $color-red;
                    @media screen and (max-width: 985px) {
                        font-size: 14px;
                        margin: 0px 0 13px 0;
                    }
                    &:last-child{
                        font-size: 13px;
                        color: $color-text;
                        line-height: 25px;
                        font-weight: 400;
                    }
                }
            }
        }
        .article-story-second{
            position: relative;
            width: 37%;
            @media screen and (max-width: 740px) {
                width: 100%;
            }
            .article-story-profile{
                @media screen and (max-width: 740px) {
                    width: 85%;
                    margin: 0 auto;
                }
                img {
                    width: 100%;
                }
            }
        }
    }

    hr{
        @include hr(100%, $color-hr);
    }
    
    .article-skills{
        margin: 100px 0 0 0;
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 740px) {
           flex-direction: column-reverse;
        }
        @media screen and (max-width: 450px) {
            margin: 65px 0 0 0;
         }
        .article-showcase{
            width: 46%;
            @media screen and (max-width: 740px) {
                width: 85%;
                margin: 0 auto;
            }
            img{
                width: 100%;
            }
        }
        .article-our-skills{
            width: 46%;
            @media screen and (max-width: 740px) {
                width: 100%;
                margin-bottom: 30px;
            }
            .article-content{
                .article-circle{
                    float: left;
                    @include circle($bg-color-button, $color-inherit, 48px, 40px);
                    @media screen and (max-width: 1105px) {
                        @include circle($color-green, $color-inherit, 45px, 35px);
                    }
                    @media screen and (max-width: 450px) {
                        float: none;
                        width: 22%;
                        margin: 0 auto;
                    }
                }
                .article-skills-text{
                    margin-left: 120px;
                    margin-top: -25px;
                    @media screen and (max-width: 450px) {
                        margin-top: 25px;
                        text-align: center;
                        margin-left: 0px;
                    }
                    h3{
                        font-size: 20px;
                        font-weight: 700;
                    }
                    p{
                        font-size: 14px;
                        color: $color-text;
                        line-height: 25px;
                        font-weight: 400;
                    }
                }
            }
            .article-bar{
                padding: 4px 0;
                @media screen and (max-width: 740px) {
                    width: 85%;
                    margin: 0 auto;
                }
                .group-bar{
                    margin: 25px 0;
                    label{
                        font-size: 15px;
                        font-weight: 600;
                        font-family: $font-opensans;
                        text-transform: uppercase;
                        span{
                            color: #bfbfbf;
                        }
                    }
                    .bar{
                        width: 100%;
                        height: 10px;
                        background: $color-bar;
                        position: relative;

                        &::after{
                            content: " ";
                            position: absolute;
                            background: $bg-color-button;
                            height: 10px;
                            @media screen and (max-width: 810px) {
                                background: $color-green;
                            }
                        }
                    }
                    .bar-design::after{
                        width: 88%;
                        animation: bar_design 5s;
                    }
                    .bar-dev::after{
                        width: 76%;
                        animation: bar_dev 5s;
                    }
                    .bar-word::after{
                        width: 81%;
                        animation: bar_word 5s;
                    }
                    .bar-drupal::after{
                        width: 71%;
                        animation: bar_drupal 5s;
                    }
                }
            }
        }
    }
}

@keyframes bar_design{
    0% {
        width: 0%;
    }
    100%{
        width: 88%;
    }
}

@keyframes bar_dev{
    0% {
        width: 0%;
    }
    100%{
        width: 76%;
    }
}

@keyframes bar_word{
    0% {
        width: 0%;
    }
    100%{
        width: 81%;
    }
}

@keyframes bar_drupal{
    0% {
        width: 0%;
    }
    100%{
        width: 71%;
    }
}