.section-team{
    position: relative;
    z-index: 4;
    @include polygon;

    .article-members{
        margin: 100px 0 0 0;
        position: relative;
        display: flex;
        justify-content: space-around;
        text-align: center;
        @media screen and (max-width: 680px) {
            width: 85%;
            margin: 60px auto 0 auto;
            flex-direction: column;
        }

        .item-member{
            margin: 0 0px;
            padding: 18px 0;
            border-top: 3px solid #fff;
            transition: all 0.3s;
            &:hover  img{
                filter: grayscale(80%);
                transition: all 0.3s;
            }
            .user{
                img{
                    width: 70%;
                    border: 5px solid #eaeaea;
                    border-radius: 50%;
                }
            }

            .title-user{
                margin-top: 15px;
                p{
                    font-size: 18px;
                    font-weight: bold;
                    font-family: $font-opensans;
                    text-transform: uppercase;
                    line-height: 20px;
                    color: #000;
                }
                span{
                    font-size: 15px;
                    font-weight: 600;
                    color: $color-text;
                }
            }
            hr{
                width: 30px;
                height: 6px;
                border: none;
                background: #cccccc;
            }
            p{
                color: $color-text;
                font-size: 14px;
                font-weight: 600;
                padding: 0 10px;
            }
            .links{
                margin: 17px 0;
                i{
                    margin: 0 4px;
                    cursor: pointer;
                    font-size: 18px;
                    color: #999999;
                    &:hover{
                        transition: .2s ease;
                        color: $bg-color-button;
                        @media screen and (max-width: 810px) {
                            color: $color-green;
                        }
                    }
                }
            }

            &:hover{
                background: #f0f0f0;
                transition: .2s;
                border-top: 3px solid $bg-color-button;
                hr{
                    background: $color-red;
                    transition: .2s;
                }
                @media screen and (max-width: 810px) {
                    border-top: 3px solid $color-green;
                }
            }
        }
    }
}